.header{
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  height: 50px;
}
.listStyle{
  display: flex;
  float: right;
  margin-right: 50px; 
}
.listStyle > li{
  list-style-type: none;
  margin-right: 20px;
}
